@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

/* font link always on top of css file,
import click kore "style" tag chara baki tuku nite hobe */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
/* ========== Header Section Start ========== */

header {
  /* background-color: #fafafa; */
  background-color: #fff;
  border: 1px solid #00514a1a;
  padding: 15px;
}
.container {
  max-width: 1250px;
  margin: auto;
}
.large-container{
  max-width: 1350px;
  margin: auto;
}
.logo {
  max-width: 8%;
  flex-basis: 8%;
}
/* .logo a img {
  max-width: 150px;
} */
nav {
  max-width: 53%;
  /* width: 100%; */
  flex-basis: 53%;


  /* width er bodole flex-basis use kora jay,
  80% width puratai jate pay tai extra vabe flex-basis use kora,
  max-width & flex-basis duitai barle width barbe, 
  jekono ekta barle width barbe na, max-width na diyeo only flex-basis deya jay 
  flex korle tokhon flex-basis use korte hoy*/
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
nav ul li a {
  color: #1d1e1e;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  border-radius: 8px;
  transition-duration: 0.4s;
  letter-spacing: -0.5px;
  font-family: "Poppins",
    sans-serif
      "
  /* anchor tag block element noy,
  tai padding debar pore display: block kore deya hoise,
  ete kore valo vabe kaj korbe */
}

nav ul li a:hover {
  background-color: #0284c7;
  color: #fff;
  /* transition-duration: 0.4s; */

  /* Hover transition duration jodi only :hover e deya hoy,
  taile menu theke mouse sorale effect hobe na, only mouse rakhle effect hobe,
  tai main "
      a
      " tag e transition-duration deya hoise, jate mouse rakhle & sorale
  both time transition - duration ta hoy*/
}

/* ========== Hero Banner Section ========== */

.hero-banner-section {
  /* background: red; */
  /* background-color: green; */ /* background & background-color dile 2nd ta, nicher ta active hobe */

  background: #d9d8d8 url(../images/bg-dot-2.jpg);
  min-height: 600px;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: cover;
  background-blend-mode: overlay;

  /* "
      ..
      " double dot diye ekbar directory te back gesi */
  /* background-position-y: diye bg-image upore niche y axis crop hoye gele,
  upore nihce up down adjust kore jay */
  /* background-size: cover dile image full width e ase, contain dile full asbe na */
  /* last step e, min-height: adjust korte hobe jate image thik middle e ase, dekhte valo lage */
  /* background-color: dark nile blend mode valo hoy, blend mode diye different shade kora jay,
  color depend kore image + bg color er combination er upore */
}

.hero-content {
  margin: auto;
}

.hero-content h1 {
  font-size: 92px;
  color: #569EEE;
  line-height: 32px;
  font-weight: 900;
  /* text-align: center; */

}


.hero-content p {
  color: #000;
  font-size: 21px;
  margin-top: 25px;
  /* text-align: center; */
}
/* ========== Service Section ========== */

.service-section {
  padding: 72px;
}

.service-section-bg{
  background: #ffffff url(../images/bg1.png);
  /* min-height: 600px; */
  background-repeat: no-repeat;
  /* background-position-y: center; */
  background-size: cover;
  background-position: left;
  background-size: 80%;
  /* background-blend-mode: overlay; */
}

.service-section-bg2{
  background-color: #faf5f9;
}
.col_1_2{
  max-width: 45%;
  flex-basis: 45%;
}
.col_1_2 img{
  border-radius: 10px;
  box-shadow: 5px 4px 12px rgb(187, 185, 185);
}
.text-info{
  padding: 0 56px;
}
.text-info h2 { 
  font-size: 33px;
  line-height: 36px;
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
}
.text-info p {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.1px;
}
.text-info a {
  font-family: 'Nunito', sans-serif;
  margin-top: 10px;
  font-style: italic;
  display: block;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #000;

  /* "a" tag is not block element,
  to apply style, we have to make it display: block; */
}

/* ========== Experience Section ========== */

.experience-section{
  padding: 60px 0;
  background-color: #f9fafb;
}
.experience-section > h2 {
  color: #1593d6;
  font-size: 39px;
  text-align: center;
  padding: 20px 0 20px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.single-experience {
  flex-basis: 42%;
  padding: 41px 42px;
  margin: 33px;
  background: #ffffff url(../images/bg2.png);
  /* min-height: 600px; */
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
  /* background-position: center; */

  background-size: 110%;
  /* background-blend-mode: overlay; */

  border: 2px solid #b0b6bf2b;
  border-radius: 12px;
}

.single-experience h2 {
  .hero-content: ;
  font-family: 'Poppins', sans-serif;
  font-size: 29px;
  color: #374151;
}
.single-experience p {
  font-family: 'Lato', sans-serif;
  margin-top: 6px;
  line-height: 20px;
}

/* ========== Last Achievement Section ========== */

.achievement-section {
  padding: 70px 0 60px 0;
}
.single-achievement {
  height: 100%;
  flex-basis: 33.33%;
  padding: 27px;
  display: block;
}
.single-achievement h2 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 27px;
  margin-bottom: 48px;
  font-weight: 700;
}
.single-achievement p {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.single-achi-bg-color-blue {
  
  padding: 50px 50px 15px 50px;
  height: 306.4px;
  border-radius: 25px;
  background-color: rgba(3, 147, 204, 1);
    color: white;
}
.single-achi-bg-color-grey {
  padding: 50px 50px 15px 50px;
  height: 306.4px;
  border-radius: 12px;
  background-color: rgba(245, 245, 245, 1);
  color: black;
}

/* ========== Footer ========== */

.footer-edit{
  background-color: #0393cc;
padding: 37px 30px;
}
.footer-edit p{
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: #cdd2d8;

}
